@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

body {
   background: url('../assets/background.jpg');
   font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
}

.logo {
    height: 150px;
}

.container {
    width: 80%;
    margin: auto;
}

#section
{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre {
    color: #fea347;
}

/* #box, 
#data_second,
 #data_three 
{
    background-color: #fea347;
    border-radius: 22px;
    margin: 50px;
    text-align: center;
   
} */

.card_index {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    background-color: #fea347;
    margin: 20px;
    /* padding: 10px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card_index h2 {

    height: 100%;
    width: 100%;
}

.card_index  img {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
}

.box {
    background-color: #fea347;
    border-radius: 22px;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.data_base {
    margin: 10px;
    text-align: justify;
}

.films {
    display: none;
}

/* Section Vehicles */

.vehiSection {
    display: flex;
    flex-direction: column;
}

.title {
    cursor: pointer;
    text-align: center;
}

.text_vehicles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data_base_vehicles {
    display: none;

}

.active{
    display: block;
}

@media screen and (max-width: 720px) {
    .top_section {
        flex-direction: column;
    }
    .container {
        width: 90%;
    }

    .text_vehicles {
        flex-direction: column;
    }
}